CricketApp/CricketApp/Connected Services/TeamServiceReference/TeamService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TeamService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TeamService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Team">
    <xs:sequence>
      <xs:element minOccurs="0" name="TeamID" type="xs:int" />
      <xs:element minOccurs="0" name="TeamName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Team" nillable="true" type="tns:Team" />
</xs:schema>