CricketApp/CricketApp/Connected Services/ScoreUpdateReference/ScoreUpdate1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ScoreUpdate" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ScoreUpdate" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Score">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bowler" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BowlerBalls" type="xs:int" />
      <xs:element minOccurs="0" name="BowlerRuns" type="xs:int" />
      <xs:element minOccurs="0" name="BowlerWickets" type="xs:int" />
      <xs:element minOccurs="0" name="Player1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Player1Runs" type="xs:int" />
      <xs:element minOccurs="0" name="Player1balls" type="xs:int" />
      <xs:element minOccurs="0" name="Player2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Player2Runs" type="xs:int" />
      <xs:element minOccurs="0" name="Player2balls" type="xs:int" />
      <xs:element minOccurs="0" name="TeamABalls" type="xs:int" />
      <xs:element minOccurs="0" name="TeamAExtra" type="xs:int" />
      <xs:element minOccurs="0" name="TeamARuns" type="xs:int" />
      <xs:element minOccurs="0" name="TeamAWickets" type="xs:int" />
      <xs:element minOccurs="0" name="TeamBBalls" type="xs:int" />
      <xs:element minOccurs="0" name="TeamBExtra" type="xs:int" />
      <xs:element minOccurs="0" name="TeamBRuns" type="xs:int" />
      <xs:element minOccurs="0" name="TeamBWickets" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Score" nillable="true" type="tns:Score" />
</xs:schema>