NewCricketHost/NewCricketHost/Connected Services/ServiceReference1/PlayerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PlayerService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PlayerService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="MatchesPlayed" type="xs:int" />
      <xs:element minOccurs="0" name="PlayerID" type="xs:int" />
      <xs:element minOccurs="0" name="PlayerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalRuns" type="xs:int" />
      <xs:element minOccurs="0" name="TotalWickets" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
</xs:schema>